body{
    background-image: url("b.jpg");
    background-repeat: no-repeat;
    background-size: 100% ;
}

body div{
    position: fixed;
    transform: translate(-50%, -50%);
    transition: 200ms ease-in-out;
    border: none;
    border-radius: 20px;
    background-color: rgba(255,255,255,1);
    box-shadow: 0 15px 30px rgba(0,0,0,.4);
    max-width: 80%;
    color: black;
    align-items: center;
    left: 50%;
    top: 50%; 
    width: 400px;
    align-items:stretch;
    z-index: 97;
}

body div p{
    padding-left: 20px;
    font-size: 120%;
    color: rgba(0,0,0,2);
    z-index: 98;
}

body div select{
    background-color: rgba(255,255,255,.2);
    border: none;
    /* border-bottom: 1px solid black; */
    outline: none;
    cursor: pointer;
    z-index: 100;
    width: 100%;
    padding-left: 9px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px ;
    z-index: 99;
}

#popup-overlay{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: 200%;
    padding-left: 9000px;
    background: rgba(0,0,0,.4);
    pointer-events: none;
}